@using ArtGalleryApp.Models.DataViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

@model List<ArtGalleryApp.Models.DataViewModel.GalleryViewModel>

<div class="container w-100 d-flex flex-nowrap justify-content-center pt-5 pb-5  AdminBg  ">
    <div class="Carouselcontainer  w-90 h-90 bg-white  p-5 ">
        <div class="admin-table-header d-flex  flex-nowrap justify-content-space-between">
            <div class=" mb-3 mt-3 mt-md-0 mb-md-0">
                <h4>Gallery Table</h4>
            </div>
            <a style="background-color: #193C8D" class="btn btn-success" asp-controller="Gallery" asp-action="New">Add Artwork</a>
        </div>


        <table class="table table-striped Team">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Artwork Field</th>
    
                    <th>Price</th>
                    <th>Inventory</th>
                    <td>Publish Date</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var row in Model)
                {

                    <tr>
                        <th>@row.Title</th>
                        <th>@row.Artist</th>
                        <th>@row.ArtworkFieldName</th>
             
                        <th>@row.Price</th>
                        <th>@row.Inventory</th>
                        <td>@row.PublishDate</td>

                        <td>
                            <a style="background-color: #193C8D" class="btn btn-success" asp-controller="Gallery" asp-action="Update" asp-route-id="@row.Id">Update</a>
                            <a class="btn btn-danger btn-sm" onclick="if(!confirm('Are you sure to remove this record?'))return false;" asp-action="Delete" asp-controller="Gallery" asp-route-id="@row.Id">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
</div>


