
@using ArtGalleryApp.Models.DataViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

@model List<ArtGalleryApp.Models.DataViewModel.GalleryViewModel>

<div class="container w-100 d-flex flex-nowrap justify-content-center pt-5 pb-5  AdminBg  ">
    <div class="Carouselcontainer  w-90 h-90 bg-white  p-5 ">
        <div class="admin-table-header d-flex  flex-nowrap justify-content-space-between">
            <div class=" mb-3 mt-3 mt-md-0 mb-md-0">
                <h4>Gallery Table</h4>
            </div>
            <a style="background-color: #193C8D" class="btn btn-success" asp-controller="Gallery" asp-action="New">Add Artwork</a>
        </div>


        <table class="table table-striped Team">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Artwork Field</th>
                    <th>Produce Year</th>
                    <th>Medium</th>
                    <th>Style</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Inventory</th>
                    <td>Upload Date</td>
                    <td>Publish Date</td>
                    <td>Sold Date</td>
                </tr>
            </thead>
            <tbody>

           @foreach (var row in Model)
                {

                    <tr>
                        <th>@row.Title</th>
                        <th>@row.Artist</th>
                        <th>@row.ArtworkField</th>
                        <th>@row.ProduceYear</th>
                        <th>@row.Medium</th>
                        <th>@row.Style</th>
                        <th>@row.Size</th>
                        <th>@row.Price</th>
                        <th>@row.Inventory</th>
                        <th>@row.ProduceYear</th>
                        <td>@row.UploadDate</td>
                        <td>
                            <a style="background-color: #193C8D" class="btn btn-success" asp-controller="Gallery" asp-action="New">Update</a>
                            <a class="btn btn-danger btn-sm" asp-action="delete" asp-controller="Gallery" asp-route-id="@row.Id">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
</div>


