
@{
    ViewData["Title"] = "blogPage";
    Layout = "_Layout";
}
@model ArtGalleryApp.Models.DataViewModel.SiteBlogGalleriesViewModel
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />

<div class="container w-80  bg-white mt-3">
    <div class="row g-0 p-5">
        <div class="col-md-5">
            <img src="@Model.blog.ImgUrl" class="img-fluid rounded-start mt-3 mb-3" alt="...">
            @*<h6>picture title</h6>*@
        </div>
        <div class="col-md-6">
            <div class="card-body   mt-2">
                <h5 class="card-title mt-3">@Model.blog.Title</h5>
                <div class="card-body  bg-black opacity-25 mt-5 mb-5">
                    <p class="card-text">@Model.blog.Summary</p>
                    @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container w-80  bg-white">
    <div class="row g-0 pl-5 pr-5">
         <div class="card-body">
            <h4 class="blogTitle">@Model.blog.Author</h4>
            <h2 class="blogAuthor">@Model.blog.Title</h2>
            <p>
                @Model.blog.Article
        </p>
    </div>
</div>
</div>

<div class="container mt-1 mb-5">
    <div class="row g-0 pl-5 pr-5 justify-content-center">
        <div class="col-md-5">
            <img src="@Model.blog.ImgDescription" class="img-fluid rounded-start mt-3 mb-3" alt="...">
            @*<h6>picture title</h6>*@
        </div>
    </div>
</div>

@*<div class="container w-80  bg-white">
    <div class="row g-0 pl-5 pr-5">
        <div class="card-body">

                <p>In order to communicate his grief, Yuxweluptun turns to his traditional practice of storytelling and channels it through his paint brush. Important cultural and historical knowledge was transmitted by Indigenous people through storytelling. Many Creation stories feature geographical boundaries such as rivers, lakes, and mountains to define regional lines. The Indigenous way of knowing is in essence formed from the land. In keeping with the tradition of his ancestors, Yuxweluptun too uses mountains, rivers, and lakes to tell his story. Unlike western interpretations of the land, Yuxweluptun’s landscapes are interacted with and occupied by people, they do not sit uninhabited. The playful and curt figures that reside within Yuxweluptun’s paintings are a testament to Indigenous resilience.

                Yuxweluptun’s artistic voice is a vessel for anti-colonial, anti-capitalist rhetoric. It both mourns and celebrates Indigenous culture in its objection of the injustices repeatedly imposed on Indigenous communities and its championing of the vitality and strength of Indigenous people, their language, their land, and their customs. The work instils integrity, calls for recourse, and assigns accountability. It goes beyond surrealism. Using an abstracted ovoid, it depicts an honest reality and presents what could be a catalyst to the formation of an entirely new genre of art.

                Will Yuxweluptun’s visionism become the next movement to take up residence in the surrealist anthology?
                </p>
        </div>
    </div>
</div>*@





@*<div class="container w-80 mb-5 mt-5 bg-white">
        <div class="row g-0 pl-5 pr-5">
      
            <h2 class="blogAuthor mb-4">RELATED POSTS</h2>
            <!-- Nested row for non-featured blog posts-->
            <div class="row  justify-content-center">
                <div class="card-body reletedBlog">
                    
                    <!-- Blog post-->
                    <div class="card m-2">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="blogPage">Read more →</a>
                        </div>
                    </div>
                        <!-- Blog post-->
                    <div class="card  m-2">
                            <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">January 1, 2022</div>
                                <h2 class="card-title h4">Post Title</h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                <a class="btn btn-primary" href="blogPage">Read more →</a>
                            </div>
                        </div>
                         <!-- Blog post-->
                    <div class="card  m-2">
                            <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">January 1, 2022</div>
                                <h2 class="card-title h4">Post Title</h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                <a class="btn btn-primary" href="blogPage">Read more →</a>
                            </div>
                        </div>
                </div>
 
            </div>

        </div>
        </div>
*@
