@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}
@model List<ArtGalleryApp.Models.DataViewModel.ArtistsViewModel>

<div class="container w-100 d-flex flex-nowrap justify-content-center pt-5 pb-5  AdminBg  ">
    <div class="Carouselcontainer  w-90 h-90 bg-white  p-5 ">
        <div class="admin-table-header d-flex  flex-nowrap justify-content-space-between">
            <div class=" mb-3 mt-3 mt-md-0 mb-md-0">
                <h4>Artist Table</h4>
            </div>
@*            <div class="dropdown  text-end mb-3 mt-3 mt-md-0 mb-md-0">
                <label class="mr-2">Sort by:</label>
                <a class="btn btn-lg btn-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relevance <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" x-placement="bottom-start" style="position: absolute; transform: translate3d(71px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="#">Relevance</a>
                    <a class="dropdown-item" href="#">Price Descending</a>
                    <a class="dropdown-item" href="#">Price Ascending</a>
                    <a class="dropdown-item" href="#">Best Selling</a>
                </div>
            </div>*@
        </div>
        <a style="background-color: #193C8D" class="btn btn-success" asp-controller="Artist"  asp-action="New">Add Artist</a>

        <table class="table table-striped Team">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Field</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>photo</th>
                    <th>Actions</th>
                </tr>
            </thead>
          
             <tbody>
                @foreach (var row in Model)
                {
                    <tr>

                        <td>@row.FirstName</td>
                        <th>@row.LastName</th>
                        <td>@row.ArtistFieldName</td>
                        <td>@row.Phone</td>
                        <td>@row.Email</td>
                        <td><img src="@row.ImgUrl" style="width:60px" /></td>
                        <td>
                                <a class="btn btn-primary btn-sm" asp-action="Update" asp-controller="Artist" asp-route-id="@row.Id">Update</a>
                            <a class="btn btn-danger btn-sm" onclick="if(!confirm('Are you sure to remove this record?'))return false;" asp-action="Delete" asp-controller="Artist" asp-route-id="@row.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
     
        </table>

    </div>
</div>




